
.pushButton {
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  fill: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
}
.pushButton[data-small] {
  height: 1.5em;
  width: 1.5em;
}
.pushButton[aria-disabled="true"] {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
.pushButton:hover {
  background: rgba(255, 255, 255, 0.4);
}
.pushButton:active {
  background: rgba(255, 255, 255, 0.3);
}
.pushButton svg {
  height: 1.5em;
  width: 1.5em;
}
.pushButton[data-small] svg {
  height: 1em;
  width: 1em;
}